{% extends "rockload/apps/base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/rockload/apps/main/css/newproject.css" />
{% end %}

{% block content %}
    <form method="POST">
        <fieldset>
            <legend>New Project Details</legend>

            <div class="clearfix">
                <label for="name">Project Name</label>
                <div class="input">
                    <input class="xlarge" id="name" name="name" size="50" type="text" />
                    <span class="help-inline">this is the name that will appear in the menu</span>
                </div>
            </div>

            <div class="clearfix">
                <label for="gitrepo">Git Repository</label>
                <div class="input">
                    <input class="xlarge" id="gitrepo" name="gitrepo" size="70" type="text" />
                    <span class="help-inline">this is the repository where your tests live</span>
                </div>
            </div>

            <div class="actions">
                <button type="submit" class="btn primary">Create project</button>&nbsp;<button type="reset" class="btn">Cancel</button>
            </div>

        </fieldset>
    </form>
{% end %}
