<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Rockload - Home{% end %}</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css" />
    <link rel="stylesheet" href="static/rockload/apps/base/css/main.css" />
</head>

<body>
    <div class="topbar-wrapper" style="z-index: 5;">
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h3><a href="/"></a></h3>
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <form action="">
                        <input type="text" placeholder="Search">
                    </form>
                    <ul class="nav secondary-nav">
                        <li class="menu">
                            <a href="#" class="menu">Dropdown</a>
                            <ul class="menu-dropdown">
                                <li><a href="#">Secondary link</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Another link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> <!-- /fill -->
        </div> <!-- /topbar -->
    </div>

    <div class="container">
        <div class="main-container row">
            <div class="span16 columns">
                {% block content %}{% end %}
            </div>
        </div>
    </div>
</body>
</html>
