<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Rockload - Home{% end %}</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css" />
    <link rel="stylesheet" href="/static/rockload/apps/base/css/main.css" />
    {% block css %}{% end %}
</head>

<body>
    <div id="header">
        <h1 id="logo"><a href="/">Rockload - because you can't do better than rock</a></h1>
    </div>
    <div class="separator"></div>
    <div class="white">
        <div class="container">
            <div class="main-container row">
                <div class="span16 columns">
                    {% block content %}{% end %}
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div id="footer">
        <h3>
            rockload is an open source project by 
            <a href="http://github.com/heynemann">bernardo heynemann</a> - 2011 - <a href="https://github.com/cobrateam/rock-load">https://github.com/cobrateam/rock-load</a>
        </h3>
    </div>
    {% block js %}{% end %}
</body>
</html>
