html, body {
    background-color: #2f2f2f;
}

#header {
    height: 146px;
}

.separator {
    border-top: solid 1px #d2d1d1;
    border-bottom: solid 1px #bcbbbb;
    background-color: #8f8d8d;
    overflow: hidden;
    height: 1px;
}

#logo {
    background: url('../img/logobig.png') 0 36px no-repeat;
    width: 155px;
    height: 75px;
    margin: 0 auto;
    padding-top: 36px;
}

#logo a {
    text-indent: -9999px;
    display: block;
    width: 155px;
    height: 75px;
}

#logo-small {
    background: url('../img/logo.png') 0 0 no-repeat;
    float: left;
    width: 66px;
    height: 40px;
    margin: 0 50px 0 0;
}

#logo-small a {
    width: 66px;
    height: 40px;
    display: block;
    text-indent:-9999px;
}

.white {
    background-color: #fff;
}

#footer {
    background-color: #2f2f2f;
    height: 32px;
    padding: 14px 0px;
}

#footer h3 {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-align: center;
}

#footer h3 a {
    color: #efecca;
}

/*.help-inline {*/
    /*background: url('../img/question.gif') 0px -1px no-repeat;*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*padding-left: 18px;*/
    /*margin-left: 14px;*/
/*}*/

.search-form {
    float: right;
}

.container.auth-container {
    margin-top: 40px;
}
